body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4859f5;
    font-family: Arial;
}

.logo-circle {
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #2b5797, #1e90ff);
    border-radius: 50%;
}

.form {
    width: 40%;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

input {
    width: 50%;
    padding: 8px;
    border-radius: 6px;
    border: 3px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.center {
    /* margin-top: 10px; */
    width: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
}

h1 {
    display: flex;
    align-items: center;
}

fieldset {
    background-color: rgb(252, 241, 228);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px grey;
}